In [24]:
import pandas as pd

In [25]:
df=pd.read_csv(r"C:\Users\noora\OneDrive\Desktop\MahdiehCV\test\Assignment3\Table1.csv")
df

,interaction_date,interaction_number,campaign,placement,steekproef,total_conversions,motivaction_id
0,NaN,NaN,NaN,NaN,True,1,NaN
1,25/12/2018 17:36,1.0,NL+BE_Rainbow_Monopoly_Classic_dec,"BrandDeli_Men+Women_OLV20""_NL 1x1",True,0,NaN
2,NaN,NaN,NaN,NaN,True,1,NaN
3,20/01/2019 08:19,1.0,NL+BE_2018_Rainbow_Gaming_VICE_dec,VICE_TargetMillenials_Adhesion_BEN 1x1,True,0,NaN
4,NaN,NaN,NaN,NaN,False,1,9BACF400FA3240997949BCF20F7D512576DA6F59
...,...,...,...,...,...,...,...
38044,NaN,NaN,NaN,NaN,False,1,3545885C0D1AAEDB6431F2DBE7E5BE8DE1F1D555
38045,5/5/2019 13:40,4.0,NL_2019_Rainbow_PlayDoh_30%promo_display_apr2019,NL_display_PlayDoh30%korting_320x100,False,0,3545885C0D1AAEDB6431F2DBE7E5BE8DE1F1D555
38046,6/5/2019 9:19,3.0,NL_2019_Rainbow_PlayDoh_30%promo_display_apr2019,NL_display_PlayDoh30%korting_320x100,False,0,3545885C0D1AAEDB6431F2DBE7E5BE8DE1F1D555
38047,8/5/2019 6:49,2.0,NL_2019_Rainbow_PlayDoh_30%promo_display_apr2019,NL_display_PlayDoh30%korting_320x100,False,0,3545885C0D1AAEDB6431F2DBE7E5BE8DE1F1D555
38048,8/5/2019 6:51,1.0,NL_2019_Rainbow_PlayDoh_30%promo_display_apr2019,NL_display_PlayDoh30%korting_320x100,False,0,3545885C0D1AAEDB6431F2DBE7E5BE8DE1F1D555

In [26]:
df=df.drop_duplicates()

In [27]:
df

,interaction_date,interaction_number,campaign,placement,steekproef,total_conversions,motivaction_id
0,NaN,NaN,NaN,NaN,True,1,NaN
1,25/12/2018 17:36,1.0,NL+BE_Rainbow_Monopoly_Classic_dec,"BrandDeli_Men+Women_OLV20""_NL 1x1",True,0,NaN
3,20/01/2019 08:19,1.0,NL+BE_2018_Rainbow_Gaming_VICE_dec,VICE_TargetMillenials_Adhesion_BEN 1x1,True,0,NaN
4,NaN,NaN,NaN,NaN,False,1,9BACF400FA3240997949BCF20F7D512576DA6F59
5,30/01/2019 16:09,1.0,NL+BE_2018_Rainbow_Gaming_VICE_dec,VICE_TargetMillenials_Adhesion_BEN 1x1,False,0,9BACF400FA3240997949BCF20F7D512576DA6F59
...,...,...,...,...,...,...,...
38044,NaN,NaN,NaN,NaN,False,1,3545885C0D1AAEDB6431F2DBE7E5BE8DE1F1D555
38045,5/5/2019 13:40,4.0,NL_2019_Rainbow_PlayDoh_30%promo_display_apr2019,NL_display_PlayDoh30%korting_320x100,False,0,3545885C0D1AAEDB6431F2DBE7E5BE8DE1F1D555
38046,6/5/2019 9:19,3.0,NL_2019_Rainbow_PlayDoh_30%promo_display_apr2019,NL_display_PlayDoh30%korting_320x100,False,0,3545885C0D1AAEDB6431F2DBE7E5BE8DE1F1D555
38047,8/5/2019 6:49,2.0,NL_2019_Rainbow_PlayDoh_30%promo_display_apr2019,NL_display_PlayDoh30%korting_320x100,False,0,3545885C0D1AAEDB6431F2DBE7E5BE8DE1F1D555
38048,8/5/2019 6:51,1.0,NL_2019_Rainbow_PlayDoh_30%promo_display_apr2019,NL_display_PlayDoh30%korting_320x100,False,0,3545885C0D1AAEDB6431F2DBE7E5BE8DE1F1D555

In [28]:
df=df[(df['campaign']=='NL_2019_Rainbow_PlayDoh_30%promo_display_apr2019')|(df['campaign']=='NL+BE_Rainbow_Gaming_TTP extra inzet_april2019')|(df['campaign']=='NL_Rainbow_Gaming_TTP_april2019')]
df

,interaction_date,interaction_number,campaign,placement,steekproef,total_conversions,motivaction_id
9,21/04/2019 14:57,1.0,NL_Rainbow_Gaming_TTP_april2019,OudersVanNu_commercialpost_ROS,True,0,NaN
15,20/04/2019 14:14,2.0,NL+BE_Rainbow_Gaming_TTP extra inzet_april2019,NL_Semilo_TTP_Autonative-YT,True,0,NaN
16,20/04/2019 14:15,1.0,NL+BE_Rainbow_Gaming_TTP extra inzet_april2019,NL_Semilo_TTP_Autonative-YT,True,0,NaN
22,18/04/2019 09:50,16.0,NL_2019_Rainbow_PlayDoh_30%promo_display_apr2019,NL_display_PlayDoh30%korting_300x250,False,0,9BACF400FA3240997949BCF20F7D512576DA6F59
23,18/04/2019 14:19,15.0,NL_Rainbow_Gaming_TTP_april2019,Nu.nl_commercialpost_ROS 11 april,False,0,9BACF400FA3240997949BCF20F7D512576DA6F59
...,...,...,...,...,...,...,...
37668,9/5/2019 9:30,2.0,NL_2019_Rainbow_PlayDoh_30%promo_display_apr2019,NL_display_PlayDoh30%korting_300x600,True,0,EEAF2F0F0A16D8D30677B305FCEBD0ECC93B48F6
38045,5/5/2019 13:40,4.0,NL_2019_Rainbow_PlayDoh_30%promo_display_apr2019,NL_display_PlayDoh30%korting_320x100,False,0,3545885C0D1AAEDB6431F2DBE7E5BE8DE1F1D555
38046,6/5/2019 9:19,3.0,NL_2019_Rainbow_PlayDoh_30%promo_display_apr2019,NL_display_PlayDoh30%korting_320x100,False,0,3545885C0D1AAEDB6431F2DBE7E5BE8DE1F1D555
38047,8/5/2019 6:49,2.0,NL_2019_Rainbow_PlayDoh_30%promo_display_apr2019,NL_display_PlayDoh30%korting_320x100,False,0,3545885C0D1AAEDB6431F2DBE7E5BE8DE1F1D555
38048,8/5/2019 6:51,1.0,NL_2019_Rainbow_PlayDoh_30%promo_display_apr2019,NL_display_PlayDoh30%korting_320x100,False,0,3545885C0D1AAEDB6431F2DBE7E5BE8DE1F1D555

In [29]:
df.to_csv('campaign_info3.csv',index=False)